.pagina-login {
    background: radial-gradient(circle at top, #e6e6eb, rgb(211, 211, 215));
    min-height: 100vh;
}

/* ================= ÁREA LOGIN ================= */

.secao-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
}

/* ================= CARD ================= */

.card-login {
    background-color: white;
    width: 100%;
    max-width: 450px;
    padding: 45px;
    border-radius: 18px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    border-top: 8px solid rgb(85, 215, 131);
}

/* ================= TÍTULOS ================= */

.titulo-login {
    color: rgb(28, 98, 164);
    font-size: 42px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.texto-login {
    color: #666;
    text-align: center;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 1.6;
}

/* ================= FORM ================= */

.form-login {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.grupo-input {
    display: flex;
    flex-direction: column;
}

.grupo-input label {
    margin-bottom: 8px;
    color: rgb(28, 98, 164);
    font-weight: 600;
    font-size: 15px;
}

.grupo-input input {
    padding: 14px;
    border-radius: 10px;
    border: 2px solid #dcdcdc;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

.grupo-input input:focus {
    border-color: rgb(85, 215, 131);
}

/* ================= BOTÃO ================= */

.botao-login {
    background-color: rgb(28, 98, 164);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.botao-login:hover {
    background-color: rgb(22, 78, 132);
}
/* ================= CADASTRO ================= */

.texto-cadastro {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: #666;
    font-size: 18px;
}

.texto-cadastro a {
    color: rgb(28, 98, 164);
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s;
}

.texto-cadastro a:hover {
    color: rgb(85, 215, 131);
}

/* ================= RESPONSIVO ================= */

@media (max-width: 600px) {

    .card-login {
        padding: 35px 25px;
    }

    .titulo-login {
        font-size: 34px;
    }

}
/* ================= LEMBRAR LOGIN ================= */

.lembrar-login{

    margin-top: 10px;
    margin-bottom: 25px;

    display: flex;
    align-items: center;
}

.lembrar-login label{

    display: flex;
    align-items: center;
    gap: 10px;

    color: #555;
    font-size: 15px;
    font-weight: 500;

    cursor: pointer;
}

.lembrar-login input{

    width: 16px;
    height: 16px;

    accent-color: rgb(11, 200, 80);

    cursor: pointer;
}